body{
    margin: 0%;
    padding: 0%;
}

#header{
    background-color:white;

}
 #header .ul{
    float:right;
    list-style-type: none;
    
 }

li {
    float: left;
    
  }
  
  li a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #330642;
    color:white;
   
  }
  .nav{
      height: 10%;
  }
  .btn{
    background-color: rgb(131, 238, 131);
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(97, 236, 85);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 110%;
    color:hsl(0, 0%, 24%);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  
